
@font-face{
    font-family: 'Raleway', sans-serif;}


body{
    font-family: 'Raleway';
    width: auto;
    margin: 0;
    padding: 0;}


/* Header*/

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;}


.header_menu{

    display: flex;
    justify-content: flex-end;
    align-items:baseline;}

ul.premiermenu{

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;}

.premiermenu li{

    padding-right: 30px;
    text-decoration: none;}
a{

    text-decoration: none;
    color: black;}

.menu_hebergements_border_top{

    border-top: 2px solid #0065FC;
    border-width: 3px;
    padding-top: 20px;
    padding-left: 10px;
     padding-right: 10px;
    color: #0065FC;}

.menu_activite{
    color: black;}

.ins {
    font-weight:bold;
    color: #0065FC;
margin-right: 20px;}

.logo{
    padding-left: 20px; }

/*Titres*/

main{
padding: 0 20px;
}
.titres{
    line-height: 0.8em;}

.titres h1{
    font-size: 1.2em;
}

.titres h2{
    font-size: 0.8em;
    font-weight:200;
}

/* Champs de recherche*/


.champsrecherche{
    display: flex;
    align-items: center;}

.search{
    height: 40px;
    border: none;
   border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    padding-left: 15px;}

input::placeholder{
    color: black;
    opacity: 1;
    font-weight: bold;
    font-size: 1em;}

.button{
   background-color: #0065FC;
   font-weight: bold;
   border-radius:0px 10px 10px 0px ;
  border: 0px;
   height: 40px;
   width: auto;
   color: white;
   padding-right: 10px;
   padding-left: 10px;
   margin-left: -10px;}

.map{
    
border-radius: 10px 0px 0px 10px;
background-color: #F2F2F2;
display:flex;
justify-content:center;
align-items:center;
height: 40px;
width: 40px;
}

.loupe{
    display: none;}


/* Filtres */

.filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtres{
    list-style-type: none;
    display: flex;}

.rondbleu {
border-radius: 20px;
background-color:  #DEEBFF;
width: 40px;
height: 40px;
display:flex;
justify-content:center;
align-items:center;
color:  #0065FC;
margin-right: 10px;}

.filtres li {
border: 2px solid #F2F2F2;
border-radius: 30px;
border-left: none;
margin-right: 30px;
padding-right: 15px;
text-decoration: none;
font-weight: bold;}

.rondblue_titre{
    display: flex;
    justify-content: center;
    align-items: center;}

.rondblue_titre:hover{
    color: #0065FC;
}
.filtre h2{
    font-size: 0.9em;}


/* Icone info et titre*/

.fa-info{

border: 3px solid #F2F2F2;
color:  #0065FC;
border-width: 2px;
width: 20px;
height: 20px;
border-radius: 15px; 
text-align: center;}

.info_titre{
  
text-align: left;
vertical-align: middle;
color: black;
font-weight: 200;
font-size: 0.9em;
margin-left: 10px;}

 /*Flex pour hebergement et aside*/

section.hebergements{
display: flex;
}


/*Section hebergements */

.section_hebergements{
    background-color:#F2F2F2;
    width: 68%;
    height: 600px;
    border-radius: 20px;
    margin-right: 2%;}
   
.section_hebergements_container{
display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding:0 20px;}

.section_hebergements_element /*img+titre*/{

    width:92%;
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;}

.image{
    width:97%;}

.section_hebergements_img{
    width: 100%;
    height: 110px;
    object-fit:cover;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;}

.element_container{
  flex-basis: 33%;
display: flex;
align-items: center;
justify-content: center;}

.titre_img {
    margin-left: 13px;
    line-height: 0.8;
    width: 100%;
    padding-bottom: 10px;
    height: auto;}

#Hebergement {
font-size: 1.2em;
margin-top: 40px;
margin-left: 20px;}

.titre_afficher{
    font-size: 0.9em;
    padding-left: 30px;
margin-bottom: 0;}

.section_hebergements_element h2{
    font-size: 0.8em;}

.section_hebergements_element h3{
    font-size: 0.8em;
    font-weight: 200;}

.euro{
    font-weight: bold;}


  /*Aside*/

.titre_ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px ;
}

  
aside{
    
    background-color: #F2F2F2;
    width: 30% ;
    height: 600px;
    border-radius: 20px;
    padding:0 30px;
    display: flex;
    flex-direction: column;
   
}
   .test{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   height: 480px;
  
   }

.aside_element{
   
    background-color:white;
    border-radius:20px;
    border-top-right-radius: 20px; 
    padding-left: 5px;
    text-align: left;
    display: flex;}

.aside_element h2{
    font-size: 0.8em;
    }

.aside_element h3{
    font-size: 0.8em;
    font-weight: 200;
  }

.image_aside{
    width:35%;}

.aside_img{
width: 100%;
height: 128px;
margin-right: 10px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
margin-top: 2px;
margin-bottom: 2px;
padding-top: 2px;
object-fit: cover;}

.titre_img_aside{
    width: 100%;
    padding-left: 10px;
    height: auto;
    
}
.titre_img_aside h2{
margin-top: 0;}


.titre_star{

    display: flex;
    flex-direction: column;
   justify-content: space-around;
}

.aside_star{
    padding-left: 10px;
 
}

.titre_aside{
    font-size:1.2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.star{
    color: #0065FC; }

.star_gray{
    color:gray; }


/*section activité*/


#Activités{
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.activites{
        height: 470px;
    }
.section_activites_element1{
        display: flex;
        flex-wrap: wrap;
   
        height: 420px;
justify-content: space-between;
}
  
    .taille_element{
    
        width: 23%;

}
.div_taille_element{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .activites h2{
    font-size: small;
    margin-left: 20px;
    margin-top: 5px;
    padding-bottom: 10px;
vertical-align: middle;}
   
    
    .section_activites_element{
        border: 2px thin #F2F2F2;
        background-color:white;
        border-radius: 20px;
        box-shadow: 8px 8px 8px #F2F2F2;
    }
    
    .activites_img_xl{
        width: 100%;
        height: 375px;
        object-fit: cover;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;}
    
    .activites_img_medium{
     
     width: 100%;
        height: 182px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
  
    }
    
    .activites_img_xs{
      width: 100%;
        height: 124px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .activites_img_small{
     width: 100%;
        height: 152px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;}
    

 /*Footer*/

footer{
    background-color: #F2F2F2;
    padding-top: 30px;
    display: flex;
   padding-left: 20px;}

 footer h2,ul{
     font-size: 0.9em;
  
    }

footer ul{
    list-style-type: none;
    padding: 0%;
    line-height: 1.8; }

.a_propos, .nos_hebergements, .Assistance{
    padding-right: 20%;
}


/*Media */

/*Header*/

@media all and (max-width:480px){

    main{
        padding: 0;
    }
#Hebergement{
    margin-left: 0;
}
header{
    flex-direction: column;
    align-items: flex-start;}
    
.header_menu{
    flex-wrap: wrap;
    align-items:flex-start;}
  

.logo{
    
    justify-content: flex-start;
    width: 20%;
    position: absolute;
    margin-top: 20px;}


.menu:nth-child(1){
    order:2;
    width: 100%;  }

.ins:nth-child(2){
    
    order: 1;
    margin-top: 35px;
    }

.premiermenu li.heb{
    padding-right: 0%;}

.premiermenu li.act{
    padding-right: 0%;}

li.heb{
    padding-right: 0;}

.premiermenu{
    
justify-content: space-between;
padding-left: 0;
padding-right: 0;}

.menu_activite{

border-top: none;
border-bottom: 2px solid #F2F2F2;
border-width: 3px;
padding-bottom: 10px;
padding-left: 50px;
padding-right: 65px;}

.menu_hebergements_border_top{
border-top: none;
border-bottom: 2px solid #0065FC;
border-width: 3px;
padding-bottom: 10px;
padding-left: 50px;
padding-right: 50px;
color: #0065FC;}


/*Titres*/

.titres{
    padding-left: 20px;
}

.titres h1{
      
margin-left: 0px;
line-height: 1.2;
font-size: 1.3em;
width: 95%;
}
    
.titres h2{
    
font-size: 1em;
line-height: 1.3;
font-weight: 100;
opacity: 0.8;}

/* Champs de recherche*/

.champsrecherche{
    padding-left: 20px;
}

.loupe{
     display: inline-block;}

.button-text{
     display: none;}

.button{
    border-radius:10px 10px 10px 10px ;
     height: 40px;
     width: 40px;}

/* Filtres*/

.filtre{
        
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;}

    ul {
        padding:0;
  
    }
  

.filtres{
        flex-direction: column;
      align-items: flex-start;
      max-height: 200px;
      flex-wrap: wrap;

      margin-bottom: 0%;}

.filtres li{
    margin-bottom: 10px;
    padding-left: 0%;
    margin-right: 0%;}
    
    
    .eco:nth-child(1){
    order: 1;}

    .fam:nth-child(2){
        order:4;}

    .rom:nth-child(3){
        order:2;}

    .anim:nth-child(4){
        order:3;}
    
/* Icone info et titre*/

   .info{
       padding-left: 20px;
   }

    .info_titre{
        text-align: left;
        display: inline-block;
        width: 80%;
        font-size: 0.8em;
        opacity: 0.8;
        vertical-align: top;
        padding-top: 8px;
        }
    
    /*Section Hebergements*/

#Hebergement{
    margin-left: 20px;
}

.section_hebergements_container{
    flex-direction: column;
     margin-bottom: 0%;
    padding:0;
}
  
.section_hebergements{
        background-color: white;
        width: 100%;
        height: auto;
        }

.titre_afficher{
    padding: 20px;
}

.section_hebergements_element{
        margin-bottom: 10px; 
        box-shadow: 8px 8px 8px #f2f2f2;
        margin-left: 0;}



/*Aside*/


section.hebergements{
    flex-direction: column-reverse;
    margin-left: 0;}
        
aside{
    width: 100%;
    border-radius: unset;
    padding: 0%;}

.test, .titre_ligne{
    padding: 0 20px;
    }
    

/*Section activités*/

#Activités{

    margin: 10px 0 20px 20px;
    }

.activites{
    height: auto;
}

section.activites{
    flex-direction: column;
    padding-left: 0;}
    

.section_activites_element1{
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;}

.div_taille_element{
    padding: 0 20px;
    width: auto;
}
.taille_element{
    height: 194px;
    width: 89%;
    padding-left: 20px;
    margin-bottom: 15px;}

.activites_img_xl, .activites_img_medium, .activites_img_xs, .activites_img_small {

height: 150px;}

.activites h2{
margin-top: 10px;}
    
    /*Footer*/
 
footer{
    flex-direction: column;
    padding-left: 0;}

.a_propos, .nos_hebergements, .Assistance{
    padding-left: 20px;}}
    



    /*Tablette*/

 @media all and (min-width:768px)and (max-width:980px){

   /*header*/

   .header_menu{
       padding-right: 20px;
   }
   .ins{
       margin-right: 0;
   }
/* Titre*/

div.titres h1{
font-size: 1.1em;}

div.titres h2{

font-size: 0.9em;
opacity: 0.8;}

/*Filtres*/

a.rondblue_titre{
font-size: 0.8em;}

.filtres{
    padding-left: 20px;
}

/* Icone info et titre*/


.info_titre{
font-size: 0.8em;}

/*Hebergements*/
   
section.hebergements{
    
flex-direction: column;}

.section_hebergements{
    width: 100%;}

.section_hebergements_container{
    padding-left: 10px;}
    .image{
        width: 95.5%;
    }

/*Aside*/

aside{
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
.test{
    padding: 0 20px;
}
.titre_ligne{
    padding: 0 20px;
}

.titre_img_aside{
    width: 100%;}


    /*Activités*/

.activites{
    height: auto;
}
.section_activites_element1{
       height: auto;}

.div_taille_element{
    width: 100%;
}

.fa-chart-line{
    font-size: 1.3em;
}

img.activites_img_xl, img.activites_img_medium, img.activites_img_xs, img.activites_img_small {

 height: 210px;}

.taille_element{
    width: 100%;}

 
 /*Footer*/
    
 footer{

display: flex;
justify-content: space-between;
padding-right: 20px;
}
.a_propos, .nos_hebergements, .Assistance{
    padding-right: 0;}}

@media all and (min-width:981px)and (max-width:1200px){
.image{
        width: 95%;}
.a_propos, .nos_hebergements, .Assistance{
            padding-right: 10%;}}
    
@media all and (min-width:1201px)and (max-width:1400px){
        .image{   
            width: 95.5%;
        }}
    
 @media all and (min-width:1201px)and (max-width:1400px){
            .image{   
    width: 96.5%;
            }}
            