
@font-face
{
font-family: 'Raleway', sans-serif;

}

/* Police body */

body
{
    font-family: 'Raleway';
}



#bloc_page
{
    width: 1200px;
    margin: auto;
}


/* Navigation */

header

{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
/* Navigation header*/

   ul.premiermenu

{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
   
 
}
ul.premiermenu li

{
    padding-right: 30px;
    text-decoration: none;
    
}
a
{
    text-decoration: none;
}

.menu_hebergements_border_top
{
    border-top: 2px solid #0065FC;
    border-width: 3px;
    padding-top: 30px;
   padding-left: 10px;
   padding-right: 10px;
   color: #0065FC;
}
.menu_activite
{
    color: black;
}


.inscrire
{
    font-weight: bold;
    color: #0065FC;
}


/* Champs de recherche*/


.champsrecherche
{
    display: flex;

   align-items: center;
  
}

.search
{
    height: 30px;
    border: none;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    
}


.button
{
   background-color: #0065FC;
   font-weight: bold;
   border-radius:0px 10px 10px 0px ;
   border: 0px;
   height: 30px;
   width: auto;
   color: white;
}

.map
{
    
border-radius: 10px 0px 0px 10px;
background-color: #F2F2F2;
    
display:flex;
justify-content:center;
align-items:center;
height: 30px;
width: 30px;
  
   
}


/* Filtres navigation*/

div.filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
ul.filtres
{
    list-style-type: none;
    display: flex;   
}

.rondbleu
{
border-radius: 15px;
background-color:  #DEEBFF;
width: 30px;
height: 30px;
display:flex;
justify-content:center;
align-items:center;
color:  #0065FC;
margin-right: 10px;

}
ul.filtres li

{
border: 2px solid #F2F2F2;
border-radius: 25px 20px 20px 25px;
border-left: none;
margin-right: 70px;
padding-right: 10px;
text-decoration: none;

}

a.rondblue_titre
{
    display: flex;
    justify-content: center;
    align-items: center;


}


 
/* Icone info et titre*/


.fa-info

{

border:2px solid #F2F2F2;
color:  #0065FC;
border-width: 3px;
width: 20px;
height: 20px;
border-radius: 15px; 
text-align: center;
   
}


.info_titre
{
  
text-align: left;
vertical-align: middle;

/*color à changer*/
}


 /*Flex pour hebergement et aside*/

section.hebergements
{
display: flex;
}

/*Section hebergements et aside*/

div.section_hebergements
{
    background-color:#F2F2F2;
    width: 70%;
    height: 626px;
    border-radius: 20px;
    
    margin-right: 40px;
  
}

aside
{
    
    background-color: #F2F2F2;
    width: 30% ;
    height: 626px;
    border-radius: 20px;
    
}

/*Flex pour premier container de 3 img*/

div.section_hebergements_element1 

{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/*Flex pour deuxieme container de 3 img*/
div.section_hebergements_element2
{
    display: flex;
    justify-content: space-around;
    
}

/*Img + texte/bordure*/

div.section_hebergements_element
{
    border: thin white;
  
    width: 250px; 
    height: 220px;
   
    margin-bottom: 20px;
  
    
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
   
    
    

  
}
div.section_hebergements_element h2
{
    font-size: medium;
   
}
div.section_hebergements_element h3
{
    font-size: small;
}

/*img*/
img.section_hebergements_img
{
    width: 240px;
    height: 116px;
 
  
    object-fit: cover;
    
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
   
  
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
  

}




  /*Container aside*/

  div.aside_element
{
    border: 2px thin white;
    background-color:white;
    border-radius:20px;
    border-top-right-radius: 20px; 
   
    padding-left: 5px;
    padding-right: 20px;
    
        
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
   
    display: flex;
}

div.aside_element h2
{
    font-size: medium;
   
}
div.aside_element h3
{
    font-size: small;
}

aside
{
    display: flex;
    flex-direction: column;
}

img.aside_img
{


        width: 105px;
        height: 115px;
     
        margin-right: 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        
        margin-top: 2px;
        margin-bottom: 2px;
       
      
        padding-top: 2px;
      object-fit: cover;
 
       
}

.fa-chart-line
{
    margin-left: 120px;
}
span.star
{
    color: #0065FC; 
}

span.star_gray
{
    color:gray; 
}

/*Container section activité*/

section.activites
{
display: flex;


}
section.activites h2
{
font-size: medium;

}
div.section_activites_element1
{
    display: flex;
    max-width: 50%;
    margin-top: 20px;
}

div.section_activites_element2

{
    display: flex;
    max-width: 50%;
    margin-top: 20px;
    
}
div.element2_img_xl
{
    margin-left: 10px;
  
}

div.section_activites_element
{
    border: 2px thin #F2F2F2;
    background-color:white;
    border-radius: 20px;
    box-shadow: 8px 8px 8px #F2F2F2;
    margin-right: 30px;
    margin-bottom: 50px;
   
   
}
img.activites_img_xl

{
    width: 275px;
    height: 392px;
    object-fit: cover;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;

    
}

img.activites_img_medium

{
    width: 275px;
    height: 182px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
img.activites_img_xs
{
    width: 275px;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

img.activites_img_small
{
    width: 275px;
    height: 152px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



 /*Container footer*/

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;

    
}
footer ul
{
    list-style-type: none;
    padding: 0%;
   
}

